/* Center Container */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  min-height: 100vh;
}

/* Card */
.signup-card {
  width: 550px;
  background: #fff;
  padding: 40px 36px;
  border-radius: 12px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #111827;
}

.error {
  font-size: 12px;
  color: rgb(173, 5, 5);
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
}

/* Two Fields Side by Side */
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

/* Form groups */
.form-group {
  text-align: left;
  margin: 0;
}

.form-group label {
  color: #6b7280;
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px 14px;
  padding-left: 42px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  background: #f9fafb;
  transition: 0.2s;
}

input:focus {
  outline: none;
  background: white;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.18);
}

/* Icons inside input */
.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  opacity: 0.7;
}

.input-icon-left {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  opacity: 0.7;
}

/* Hint text */
.hint {
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
  margin-bottom: -10px;
}

/* CREATE ACCOUNT BUTTON */
.btn-create {
  width: 100%;
  padding: 12px 14px;
  background: #3b82f6;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  transition: background 0.2s;
}

.btn-create:hover {
  background: #2563eb;
}

/* Login Text */
.login-text {
  margin-top: 0;
  font-size: 14px;
  color: #6b7280;
}

.login-link {
  color: #3b82f6;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}

/* Terms text */
.terms-text {
  margin-top: -8px;
  font-size: 12px;
  color: #9ca3af;
}

.terms-text a {
  color: #3b82f6;
}
